$color-lightblack:#333333;
$color-darkwhite:#F0F0F0;
$color-white: #FFFFFF;
$color-black: rgba(0, 0, 0, 0.12);
$color-extrablack: rgba(0, 0, 0, 0.24);
$color-moreblack: rgba(0, 0, 0, 0.48);
$color-gray: #999999;
$color-red: #FF1100;