.container {
    display: flex;
    flex-direction: column;
}

.container__wrapper {
    display: flex;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 17px; */
    line-height: 32px;
    text-align: center;
    color: #333333;
}

.container__wrapper > *:not(.wrapper__symbol) {
    margin: 2px;
}

.wrapper__symbol {
    margin: 2px 0;
}

.wrapper__number, .wrapper__symbol-dot {
    width: 25px;
    height: 32px;

    background: #F0F0F0;
    border-radius: 2px;
}

.wrapper__input {
    width: 25px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 17px; */
    /* text-align: center; */
    color: #333333;
    padding: 6px;
}

.wrapper__input::placeholder {
    color: #999999;
    /* padding: 6px; */
    font-size: 20px;
}

.wrapper__input:not(:placeholder-shown) {
    text-align: center;
}

.wrapper__input:hover, .wrapper__input__hover {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.wrapper__input:focus, .wrapper__input__focus {
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.48);
}

.container__message {
    display: none;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FF1100;
}

.container__error .wrapper__input {
    width: 25px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid #FF1100;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 17px; */
    text-align: center;
    color: #333333;
}

.container__error .container__message {
    display: block;
    margin-top: 4px;
}