.container {
    display: flex;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 17px; */
    line-height: 32px;
    text-align: center;
    color: #333333;
}

.container > * {
    margin: 2px;
}

.container__number, .container__symbol-dot {
    width: 25px;
    height: 32px;

    background: #F0F0F0;
    border-radius: 2px;
}

.container__input {
    width: 25px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 17px; */
    /* text-align: center; */
    color: #333333;
    padding: 6px;
}

.container__input::placeholder {
    color: #999999;
    /* padding: 6px; */
    font-size: 20px;
}

.container__input:not(:placeholder-shown) {
    text-align: center;
}

.container__input:hover {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.container__input:focus {
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.48);
}

.container__error .container__input {
    width: 25px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid #FF1100;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 17px; */
    text-align: center;
    color: #333333;
}